<h1><%=@faculty_name%></h1>

<%=image_tag @faculty_user_user.avatar.url(:medium)%>

<p>
  <strong>Education:</strong>
  <%= @faculty_profile.education %>
</p>

<p>
  <strong>Honors:</strong>
  <%= @faculty_profile.honors %>
</p>

<p>
  <strong>Current Research:</strong>
  <%= @faculty_profile.currentResearch %>
</p>

<p>
  <b>Publications:</b>
</p>

<%if @publications%>
  <% @publications.each do |publication| %>
    <p>
      <%= publication.publicationText %>
    </p>
  <%end%>
<%else%>
  None.
<%end%>

<p>
  <b>About:</b>
  <%= @faculty_profile.bodyText %>
</p>

<%if !current_user.blank?%>
	<%if current_user.godBit or current_user.id == @faculty_profile.id %>
		<%= link_to '| Edit |', edit_faculty_profile_path(@faculty_profile.id) %> 
	<%end%>
<%end%>
