<h1><%=@faculty_name%></h1>

<p>
  <strong>Education:</strong>
  <%= @faculty_profile.education %>
</p>

<p>
  <strong>Honors:</strong>
  <%= @faculty_profile.honors %>
</p>

<p>
  <strong>Current Research:</strong>
  <%= @faculty_profile.currentResearch %>
</p>

<p>
  <%= @faculty_profile.bodyText %>
</p>

<!-- publications'll go here -->

<%if current_user.godBit or current_user.id == @faculty_profile.id %>
	<%= link_to '| Edit |', edit_faculty_profile_path(@faculty_profile.id) %> 
<%end%>

<%= link_to '| Back |', faculty_profiles_path %>
