<h1>Listing user_pictures</h1>

<table>
  <tr>
    <th>Userid</th>
    <th>Picturepath</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_pictures.each do |user_picture| %>
  <tr>
    <td><%= user_picture.userID %></td>
    <td><%= user_picture.picturePath %></td>
    <td><%= link_to 'Show', user_picture %></td>
    <td><%= link_to 'Edit', edit_user_picture_path(user_picture) %></td>
    <td><%= link_to 'Destroy', user_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User picture', new_user_picture_path %>
