<p id="notice"><%= notice %></p>

<p>
  <b>Lab Ticket:</b>
  <%= @task.labTicketID %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Assignedtech:</b>
  <%= User.find(@task.assignedTech).formal_name %>
</p>

<p>
  <b>Status:</b>
  <% if @task.completed %>
    <%= "Complete" %>
  <% else %>
    <%= "Incomplete" %>
  <% end %>
</p>

<p>
  <b>Equipment:</b>
</p>

<table border=1>
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
      <th>Serial Number</th>
      <th>Status</th>
      <th>Location</th>
      <th>Department</th>
    </tr>
  </thead>

  <tbody>


<% @equipment.each do |equipment| %>
    <tr>
      <tr class="spriteButton" onclick="document.location='<%=equipment_path(equipment.id)%>'" style="cursor:pointer">
      <td><%=equipment.type%></td>
      <td><%=equipment.description%></td>
      <td><%=equipment.serial%></td>
      <td><%=equipment.statusAlias%></td>
      <td><%=Location.find(equipment.locationID).name%></td>
      <td><%=Department.find(equipment.departmentID).name%></td>
    </tr>
  </tbody>
<% end %>
</table>

<div><p></p></div>

<div>
  <strong>Comments:</strong>
  <%= comments_for @task %>
</div>

<div><p></p></div>

<%= link_to '| Edit |', edit_task_path(@task) %> 
<%= link_to '| Back |', "/lab_tickets/#{@task.labTicketID}" %>
<%if !@task.completed%>
  <%= link_to '| Close |', @task, :confirm => 'Are you sure?', :method => "close" %>
<%else%>
  <%= link_to '| Reopen |', "/tasks/#{@task.id}/reopen", :confirm => 'Are you sure?', :method => "post" %>
<%end%>