<h1>Trouble Tickets</h1>

<table border=1>
    <th>Ticket ID</th>
    <th>Date Created</th>
    <th>Status</th>
    <th>Technician</th>
    <th>Client</th>
    <th>Problem</th>

    <% TroubleTicket.all.each do |ticket| %>

    <!--Best practice seems to dictate that this conditional logic be handled by a helper.  I'm not sure how to use helpers, so I'm going to do this for the time being.-->
        <% if ticket.status==0 then %>
            <%next%>    <!--Skips closed tickets-->
        <% elsif ticket.urgency.between?(1,2) then %>
            <tr bgcolor="#00FF00" class="spriteButton" onclick="document.location='<%=trouble_ticket_path(ticket.id)%>'" style="cursor:pointer">
        <% elsif ticket.urgency.between?(3,4) then %>
            <tr bgcolor="#FFFF00" class="spriteButton" onclick="document.location='<%=trouble_ticket_path(ticket.id)%>'" style="cursor:pointer">
        <% elsif ticket.urgency == 5 then%>
            <tr bgcolor="#FF0000" class="spriteButton" onclick="document.location='<%=trouble_ticket_path(ticket.id)%>'" style="cursor:pointer">
        <% elsif ticket.urgency==0 then%>
            <tr bgcolor="#6D6D70" class="spriteButton" onclick="document.location='<%=trouble_ticket_path(ticket.id)%>'" style="cursor:pointer">
        <% else %>
            <tr class="spriteButton" onclick="document.location='<%=trouble_ticket_path(ticket.id)%>'" style="cursor:pointer">
        <%end%>
                
                <td><%= ticket.id %></a></td>
                <td><%= ticket.created_at.in_time_zone("Central Time (US & Canada)") %></td>
                
                <!--BEGIN TICKET STATUS FORMATTING BLOCK-->
                <% if ticket.status==1 then %>
                    <td>Open</td>
                <% elsif ticket.status==2 then %>
                    <td>Deployed</td>
                <% elsif ticket.status==3 then %>
                    <td>Awaiting Hardware</td>
                <% elsif ticket.status==4 then %>
                    <td>Awaiting Client</td>
                <% elsif ticket.status==5 then %>
                    <td>Outsourced</td>
                <% elsif ticket.status==6 then %>
                    <td>On Hold</td>
                <% else %>
                    <%next%>
                <%end%>
                <!--END TICKET STATUS FORMATTING BLOCK-->

                <td><%= User.find(ticket.assignedTech).formal_name %></td>
                <td><%= User.find(ticket.clientID).formal_name %></td> 
                <td><%= ticket.problemDescription %></td>
            </tr>
    <%end%>
</table>

<div><p></p></div>

| <%= link_to trouble_ticket_path(:new) do %>New Ticket<%end%> | <%= link_to "Closed Tickets", :controller => "trouble_tickets", :action => "closed_tickets"%> | <%= link_to "Supervisor Tickets", :controller => "trouble_tickets", :action => "supervisor_tickets"%> |