<h1>Listing Archived Computer Programs</h1>

| <%= link_to 'New Program', new_computer_program_path %> |  <%= link_to 'All Programs', '/computer_programs'%> |<%= link_to 'Classroom Image', '/computer_programs/classroom'%> | <%= link_to 'Econ Image', '/computer_programs/econ'%> | <%= link_to 'Lab Image', '/computer_programs/lab'%> | Archived Programs | <%= link_to 'Export to .csv', '/computer_programs/archived.csv'%> |

<table border=1>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Expiration Date</th>
    <th>Serial</th> 
  </tr>

<% @programs.each do |program| %>
    <tr class="spriteButton" onclick="document.location='<%=computer_program_path(program.id)%>'" style="cursor:pointer">
      <td><%= program.name %></td>
      <td><%= program.description %></td>
      <td><%= program.expDate %></td>
      <td><%= program.serial %></td>
    </tr>
<% end %>
</table>