<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @program.name %>
</p>

<p>
  <b>Description:</b>
  <%= @program.description %>
</p>

<p>
  <b>Publisher:</b>
  <%= @program.publisher %>
</p>

<p>
  <b>Vendor:</b>
  <%= @program.vendor %>
</p>

<p>
  <b>Serial:</b>
  <%= @program.serial %>
</p>

<p>
  <b>License:</b>
  <%= @program.license %>
</p>

<p>
  <b>License Count:</b>
  <%= @program.licenseCount %>
</p>

<p>
  <b>Expiration Date:</b>
  <%= @program.expDate %>
</p>

<p>
  <b>UA Account Number:</b>
  <%= @program.uaAccountNo %>
</p>

<p>
  <b>Install Notes:</b>
  <%= @program.installNotes %>
</p>

<p>
  <b>Testing Notes:</b>
  <%= @program.testingNotes %>
</p>

<p>
  <b>Account Notes:</b>
  <%= @program.accountNotes %>
</p>

<p>
  <b>Registered User:</b>
  <%if @program.userID%>
    <%= User.find(@program.userID).formal_name %>
  <%end%>
</p>

<p>
  <b>Active Images:</b>
  <table border=1>
    <tr>
      <th>Classroom</th>
      <th>Econ</th>
      <th>Lab</th>
    </tr>

    <tr>
      <td align="center"><%= "x" if @program.classroomImage %></td>
      <td align="center"><%= "x" if @program.econImage %></td>
      <td align="center"><%= "x" if @program.labImage %></td>
    </tr>
  </table>
</p>

<p>
  <b>Attachments:</b>
  <ul>
    <%for attachment in @program.attachments%>
      <li>
      <%= attachment.description%> - <%=link_to("View/Download", attachment.file_url)%>
      </li>
    <%end%>
  </ul>
</p>
    


<%= link_to 'Edit', edit_computer_program_path(@program) %> |
<%= link_to 'Back', computer_programs_path %> |
<%= link_to 'Destroy', @program, method: :delete, data: { confirm: 'Are you sure?' } %>
