<%= form_for(@computer_program_association) do |f| %>
  <% if @computer_program_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@computer_program_association.errors.count, "error") %> prohibited this computer_program_association from being saved:</h2>

      <ul>
      <% @computer_program_association.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :softwareID %><br />
    <%= f.collection_select(:computerProgramID, ComputerProgram.all, :id, :digest, include_blank: true) %>
  </div>
  <div class="field">
    <%= f.hidden_field :equipmentID, value: @equipmentID%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
