<h1><%="Viewing Job ##{@job.id}"%></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Ticket:</b>
  <%= TroubleTicket.find(@job.ticketID).digest %>
</p>

<p>
  <b>Job Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Status:</b>
  <%if @job.completed%>
  	<%= "Complete" %>
  <%else%>
    <%= "Incomplete" %>
   <%end%>
</p>

<%if @job.completed%>
	<p>
	  <b>Completed By:</b>
	  <%= User.find(@job.completedByID).formal_name %>
	</p>
<%end%>

<%= link_to 'Back', "/trouble_tickets/#{@job.ticketID}" %>
