<h1>Programs Index</h1>

<%if current_user.blank? or current_user.isFacultyUser or current_user.isCommunicationsUser%>

  <table>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>

  <% @programs.each do |program| %>
    <tr>
      <td><%= program.name %></td>
      <td><%= link_to("Homepage",Cms::Site.find(program.cms_site_id).path)%></td>
    </tr>
  <% end %>
  </table>

  <br />

<%else%>

  <%if current_user.godBit or current_user.isSuperUser%>
    <table>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @programs.each do |program| %>
      <tr>
        <td><%= program.name %></td>
        <td></td>
        <td><%= link_to("Homepage",Cms::Site.find(program.cms_site_id).path)%></td>
        <td><%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New program', new_program_path %>

  <%end%>

<%end%>