<%= simple_form_for @user do |f| %>
  <% if @user.errors.any? %>
      <div class="span6 offset5">
        <div class="text-left alert alert-danger">Form is invalid
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </span>
  <% end %>

  <div class="field">
  <%= f.label "First Name" %>
  <%= f.text_field :firstName %>
  </div>  

  <div class="field">
  <%= f.label "Last Name" %>
  <%= f.text_field :lastName %>
  </div>

  <!--NEED TO VALIDATE EMAIL-->
  <div class="field">
    <%= f.label "Email" %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label "Phone Number" %>
    <%= f.text_field :phoneNumber %>
  </div>    

  <div class="span3"><%= f.label "Location" %>
    <%= #f.collection_select syntax:
    #f.collection_select(:paramYouWantToAssign,Collection.all,:thingYouWantToAssignToParam,:thingYouWantFormToDisplay,:options)
    f.collection_select(:locationID, Location.all, :id, :name, :include_blank => true) %>
  </div>


  <div class="span3"><%= f.label "Department" %>
    <%= #f.collection_select syntax:
    #f.collection_select(:paramYouWantToAssign,Collection.all,:thingYouWantToAssignToParam,:thingYouWantFormToDisplay,:options)
    f.collection_select(:locationID, Department.all, :id, :name, :include_blank => true) %>
  </div>

  <div class="field">
    <%= f.label "Password" %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label "Reenter Password" %>
    <%= f.password_field :password_confirmation %>
  </div>

  
  <div class="field">
    <%= f.label "Super User" %>
    <%= f.check_box :isSuperUser %>
  </div>

  <div class="field">
    <%= f.label "Faculty User" %>
    <%= f.check_box :isFacultyUser %>
  </div>

  <div class="field">
    <%= f.label "Communications User" %>
    <%= f.check_box :isCommunicationsUser %>
  </div>

  <div class="field">
    <%= f.label "Supervisor User" %>
    <%= f.check_box :isSupervisorUser %>
  </div>

  <div class="field">
    <%= f.label "Tech User" %>
    <%= f.check_box :isTechUser %>
  </div>

  <div class="field">
    <%= f.label "Client User" %>
    <%= f.check_box :isClientUser %>
  </div>



<%# Reenable if we reenable Paperclip support
  div class="field">
    %= f.label "Upload Avatar"%
    %= f.file_field :avatar %
  /div>
%>

  <div class="actions"><%= f.submit %></div>
  </div>
  
<% end %>

