<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Godbit:</strong>
  <%= @user.godBit %>
</p>

<p>
  <strong>Faculty?</strong>
  <%= @user.isFacultyUser %>
</p>

<p>
  <strong>Super User?</strong>
  <%= @user.isSuperUser %>
</p>

<p>
  <strong>Communications User?</strong>
  <%= @user.isCommunicationsUser %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastName %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
