<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Godbit:</strong>
  <%= @user.godBit %>
</p>

<p>
  <strong>Faculty?</strong>
  <%= @user.isFacultyUser %>
</p>

<p>
  <strong>Super User?</strong>
  <%= @user.isSuperUser %>
</p>

<p>
  <strong>Communications User?</strong>
  <%= @user.isCommunicationsUser %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.firstName %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.lastName %>
</p>

<% if current_user.isSuperUser or current_user.godBit %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<%end%>

<%= link_to 'Back', users_path %>
