<h1>Centers Index</h1>

<%if current_user.godBit or current_user.isSuperUser%>
    <table>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @centers.each do |center| %>
      <tr>
        <td><%= center.name %></td>
        <td></td>
        <td><%= link_to("Homepage",Cms::Site.find(center.cms_site_id).path)%></td>
        <td><%= link_to 'Destroy', center, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    </table>

    <%= link_to 'New Center', new_center_path %>

  <%else%>

      <table>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>

      <% @centers.each do |center| %>
        <tr>
          <td><%= center.name %></td>
          <td><%= link_to("Homepage",Cms::Site.find(center.cms_site_id).path)%></td>
        </tr>
      <% end %>
    </table>

<%end%>