<p id="notice"><%= notice %></p>

<p>
	<strong>Title:</strong>
	<%= @calendar_item.title %>
</p>

<p>
  <strong>Calendartext:</strong>
  <%= @calendar_item.calendarText %>
</p>

<p>
  <strong>Calendardate:</strong>
  <%= @calendar_item.calendarDate %>
</p>

<%unless current_user.blank? %>
	<%if ActionItem.find(@calendar_item.actionItemID).createdByID == current_user.id or current_user.isSuperUser or current_user.isCommunicationsUser or current_user.godBit%>
		<%= link_to '| Edit |', edit_calendar_item_path(@calendar_item) %> <%= link_to 'Back', calendar_items_path %>
	<%else%>
		<%= link_to 'Back', calendar_items_path %>
	<%end%>
<%end%>
