<h1>Closed Tickets</h1>

<table border=1>
	<th>Ticket ID</th>
	<th>Date Closed</th>
	<th>Status</th>
	<th>Closing Technician</th>
	<th>Client</th>
	<th>Resolution</th>


<!--Should omit open tickets-->
	<% LabTicket.all.each do |ticket| %>

	<!--Best practice seems to dictate that this conditional logic be handled by a helper.  I'm not sure how to use helpers, so I'm going to do this for the time being.-->
		<% if ticket.status==1 then %>
			<%next%>	<!--Skips open tickets-->
		<% else %>
			<tr bgcolor="#00FFFF" class="spriteButton" onclick="document.location='<%=lab_ticket_path(ticket.id)%>'" style="cursor:pointer">
		<%end%>
				<td><%= ticket.id %></a></td>
				<td><%= ticket.dateClosed ? ticket.dateClosed.in_time_zone("Central Time (US & Canada)") : "--/--/----" %></td> 
				<td>Closed</td>
				<td><%=User.find(ticket.closingTech).formal_name %></td>
				<td><%= User.find(ticket.clientID).formal_name %></td>
				<td><%= ticket.resolution %></td>
			</tr>
	<%end%>
</table>

<div><p></p></div>

<%= link_to lab_ticket_path(:new) do %>| New Lab Ticket |<%end%> <%= link_to "| Open Lab Tickets |", :controller => "lab_tickets", :action => "index"%> 