<head>
  <%=stylesheet_link_tag "lab_tickets"%>
  <%= javascript_include_tag "lab_tickets" %>
</head>

<body>

<p id="notice"><%= notice %></p>

<p>
  <b>Locationid:</b>
  <%= @lab_ticket.locationID %>
</p>

<p>
  <b>Programid:</b>
  <%= @lab_ticket.programID %>
</p>

<p>
  <b>Problemdescription:</b>
  <%= @lab_ticket.problemDescription %>
</p>

<p>
  <b>Status:</b>
  <%= @lab_ticket.status %>
</p>

<p>
  <b>Datescheduled:</b>
  <%= @lab_ticket.dateScheduled %>
</p>

<p>
  <b>Clientid:</b>
  <%= @lab_ticket.clientID %>
</p>

<p>
  <b>Requestedby:</b>
  <%= @lab_ticket.requestedBy %>
</p>

<p>
  <b>Receivingtech:</b>
  <%= @lab_ticket.receivingTech %>
</p>

<p>
  <b>Supervisorid:</b>
  <%= @lab_ticket.supervisorID %>
</p>

<p>
  <b>Technotes:</b>
  <%= @lab_ticket.techNotes %>
</p>

<p>
  <b>Urgency:</b>
  <%= @lab_ticket.urgency %>
</p>

<p>
  <b>Resolution:</b>
  <%= @lab_ticket.resolution %>
</p>

<%= link_to '| Edit |', edit_lab_ticket_path(@lab_ticket) %> 

<%if @tasks.count !=0%>
  <table border=1>
    <thead>
      <tr>
        <h5>Open Tasks</h5>
      </tr>

      <tr>
        <th>Task ID</th>
        <th>Date Created</th>
        <th>Description</th>
        <th>Technician</th>
      </tr>
    </thead>

    <tbody>
    <% @tasks.each do |t| %>
      <% if !t.completed %>
        <tr class="spriteButton" onclick="document.location='<%=task_path(t.id)%>'" style="cursor:pointer">
          <td><%= t.id %></a></td>
          <td><%= t.created_at.in_time_zone("Central Time (US & Canada)") %></td>
          <td><%= t.description %></td>
          <td><%= User.find(t.assignedTech).formal_name %></td>
        </tr>   
      <%end%>
    <%end%>
<%end%>

<%if @tasks.count !=0%>
  <table border=1>
    <thead>
      <tr>
        <h5>Closed Tasks</h5>
      </tr>

      <tr>
        <th>Task ID</th>
        <th>Date Created</th>
        <th>Description</th>
        <th>Technician</th>
      </tr>
    </thead>

    <tbody>
    <% @tasks.each do |t| %>
      <% if t.completed %>
        <tr class="spriteButton" onclick="document.location='<%=task_path(t.id)%>'" style="cursor:pointer">
          <td><%= t.id %></a></td>
          <td><%= t.created_at.in_time_zone("Central Time (US & Canada)") %></td>
          <td><%= t.description %></td>
          <td><%= User.find(t.assignedTech).formal_name %></td>
        </tr>   
      <%end%>
    </tbody>
    <%end%>
  </table>
<%end%>

<div><p></p></div>

<%= link_to '| Add A Task |', "/lab_tickets/#{@lab_ticket.id}/new_task", method: :post %></td>

<div><p></p></div>

<div>
  <strong>Comments:</strong>
  <%= comments_for @lab_ticket %>
</div>

<div><p></p></div>

<%= link_to '| Back |', lab_tickets_path %> <td>