<body>

<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= Location.find(@lab_ticket.locationID).name %>
</p>

<p>
  <b>Program:</b>
  <%if @lab_ticket.programID %>
    <%= Program.find(@lab_ticket.programID).name %>
  <%else%>
    <%="Not associated with a program."%>
  <%end%>
</p>

<p>
  <b>Problem Description:</b>
  <%= @lab_ticket.problemDescription %>
</p>

<p>
  <b>Status:</b>
  <%= @lab_ticket.status_alias %>
</p>

<p>
  <b>Date Scheduled:</b>
  <%if @lab_ticket.dateScheduled %>
    <%= @lab_ticket.dateScheduled %>
  <%else%>
    <%= "Not scheduled." %>
  <%end%>
</p>

<p>
  <b>Client:</b>
  <%= User.find(@lab_ticket.clientID).formal_name %>
</p>

<p>
  <b>Requested By:</b>
  <%if @lab_ticket.requestedBy %>
    <%= User.find(@lab_ticket.requestedBy).formal_name %>
  <%else%>
    <%= "This ticket was not requested by a user." %>
  <%end%>
</p>

<p>
  <b>Receiving Tech:</b>
  <%= User.find(@lab_ticket.receivingTech).formal_name %>
</p>

<p>
  <b>Supervisor:</b>
  <%if @lab_ticket.dateScheduled %>
    <%= User.find(@lab_ticket.supervisorID).formal_name %>
  <%else%>
    <%="No supervisor assigned."%>
  <%end%>
</p>

<p>
  <b>Tech Notes:</b>
  <%= @lab_ticket.techNotes %>
</p>

<p>
  <b>Urgency:</b>
  <%= @lab_ticket.urgency %>
</p>

<p>
  <b>Resolution:</b>
  <%= @lab_ticket.resolution %>
</p>

<%= link_to '| Edit |', edit_lab_ticket_path(@lab_ticket) %> 

<%if @tasks.count !=0%>
  <table border=1>
    <thead>
      <tr>
        <h5>Open Tasks</h5>
      </tr>

      <tr>
        <th>Task ID</th>
        <th>Date Created</th>
        <th>Description</th>
        <th>Technician</th>
      </tr>
    </thead>

    <tbody>
    <% @tasks.each do |t| %>
      <% if !t.completed %>
        <tr class="spriteButton" onclick="document.location='<%=task_path(t.id)%>'" style="cursor:pointer">
          <td><%= t.id %></a></td>
          <td><%= t.created_at.in_time_zone("Central Time (US & Canada)") %></td>
          <td><%= t.description %></td>
          <td><%= User.find(t.assignedTech).formal_name %></td>
        </tr>   
      <%end%>
    <%end%>
<%end%>

<%if @tasks.count !=0%>
  <table border=1>
    <thead>
      <tr>
        <h5>Closed Tasks</h5>
      </tr>

      <tr>
        <th>Task ID</th>
        <th>Date Created</th>
        <th>Description</th>
        <th>Technician</th>
      </tr>
    </thead>

    <tbody>
    <% @tasks.each do |t| %>
      <% if t.completed %>
        <tr class="spriteButton" onclick="document.location='<%=task_path(t.id)%>'" style="cursor:pointer">
          <td><%= t.id %></a></td>
          <td><%= t.created_at.in_time_zone("Central Time (US & Canada)") %></td>
          <td><%= t.description %></td>
          <td><%= User.find(t.assignedTech).formal_name %></td>
        </tr>   
      <%end%>
    </tbody>
    <%end%>
  </table>
<%end%>

<div><p></p></div>

<%= link_to '| Add A Task |', "/lab_tickets/#{@lab_ticket.id}/new_task", method: :post %></td>

<div><p></p></div>

<div>
  <strong>Comments:</strong>
  <%= comments_for @lab_ticket %>
</div>

<div><p></p></div>

<%= link_to '| Back |', lab_tickets_path %> <td>
<%= link_to '| Close |', @trouble_ticket, :confirm => 'Are you sure?', :method => "close" %> 
<%= link_to '| Delete |', @trouble_ticket, :confirm => 'Are you sure?', :method => :delete %>