<p>
	<strong>Title:</strong>
	<%= @news_item.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @news_item.newsText %>
</p>

<p>
  <strong>Created At:</strong>
  <%= @news_item.created_at %>
</p>

<%unless current_user.blank? %>
	<%if ActionItem.find(@news_item.actionItemID).createdByID == current_user.id or current_user.isSuperUser or current_user.isCommunicationsUser or current_user.godBit%>
		<%= link_to '| Edit |', edit_news_item_path(@news_item) %> <%= link_to 'Back', news_items_path %>
	<%else%>
		<%= link_to 'Back', news_items_path %>
	<%end%>
<%end%>
