<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @user_type.userID %>
</p>

<p>
  <b>Issuperuser:</b>
  <%= @user_type.isSuperUser %>
</p>

<p>
  <b>Isgenericuser:</b>
  <%= @user_type.isGenericUSer %>
</p>

<p>
  <b>Isfacultyuser:</b>
  <%= @user_type.isFacultyUser %>
</p>


<%= link_to 'Edit', edit_user_type_path(@user_type) %> |
<%= link_to 'Back', user_types_path %>
