<h2>Listing Action Items</h2>

<table>
  <tr>
    <th>Created By:</th>
    <th>Item Type:</th>
    <th>Item Title:</th>
    <th>Item Text:</th>
    <th>Item Date:</th>
    <th>Approval Status:</th>
    <th></th>
    <th></th>
  </tr>

<% @action_items.each do |action_item| %>
  <tr>
    <td><%= User.find(action_item.createdByID).formal_name %></td>
    <td><%= action_item.itemType %></td>

    <%if action_item.itemType == "news"%>
      <td><%= NewsItem.find_by_actionItemID(action_item.id).title %></td>
      <td><%= NewsItem.find_by_actionItemID(action_item.id).newsText %></td>
    <%elsif action_item.itemType == "calendar"%>
      <td><%= CalendarItem.find_by_actionItemID(action_item.id).title %></td>
      <td><%= CalendarItem.find_by_actionItemID(action_item.id).calendarText %></td>
    <%end%>

    <%if action_item.itemType == "news"%>
      <td><%= NewsItem.where(:actionItemID == action_item.id).first.created_at %></td>
    <%elsif action_item.itemType == "calendar"%>
      <td><%= CalendarItem.where(:actionItemID == action_item.id).first.calendarDate %></td>
    <%end%>    
    
    <td><%= action_item.isApproved %></td>
    <td><%= link_to 'Destroy', action_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% if action_item.isApproved %>
      <td><%= link_to 'Unapprove', action_item, method: :approve, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
      <td><%= link_to 'Approve', action_item, method: :approve, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />
