<!--THIS *MUST* BE REFACTORED.  IT IS SO BAD.  LIKE OMG.-->

<!DOCTYPE html>
<html>
<head>
  <title>MyculverhouseStock</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
<h1>myCulverhouse.ua.edu</h1>

<p id="notice"><%= notice %></p>

<table>
<tr>
<td>

<%if current_user.blank? %>
	<%= link_to '| Login to myCulverhouse |','/login', method: :new %> <%= link_to '| Master Calendar |','/calendar',method: :index %> <%= link_to '| Faculty Index |','/faculty',method: :index %> <%= link_to '| Blog |','/blog' %>
<%else%>
	
	<%if current_user.isFacultyUser %>
		<%if FacultyUser.find_by_userID(current_user.id).cms_site_enabled%>
			<%= link_to '| Edit my Site |',"/cms_admin"%> 
		<%end%>
	<%end%>

	<%if current_user.isFacultyUser %>
		<%= link_to '| Edit my Publications |','/publications', method: :get %>  
	<%end%>

	<%if current_user.isFacultyUser or current_user.godBit %>
		<%= link_to '| Submit a Calendar Item |','/calendar_items/new', method: :get %>  <%= link_to '| Submit a News Item |','/news_items/new', method: :get %>
	<%end%>

	<%if current_user.isCommunicationsUser%>
		<%= link_to '| Approve Action Items |','/action_items', method: :get %> <%= link_to '| Blog Admin |','/blog/monologue', method: :get %> 
	<%end%>


	<%if current_user.isSuperUser or current_user.godBit%>
		<%= link_to '| Add User |','/users/new',method: :get %> <%= link_to '| Edit/Remove User |','/users', :method => :get %> <%= link_to '| Edit Sites |','/cms_admin/sites', method: :get %> <%= link_to '| Edit Publications |','/publications', :method => :get %> <%=link_to '| Edit Centers |', '/centers', :method => :get %> <%=link_to '| Edit Departments |', '/departments', :method => :get %> <%=link_to '| Edit Programs |', '/programs', :method => :get %> <%= link_to '| Blog Admin |','/blog/monologue', method: :get %> <%= link_to '| Approve Action Items |','/action_items', method: :get %>
	<%end%>


	<%if current_user.isSuperUser or current_user.godBit or current_user.isFacultyUser or current_user.isCommunicationsUser or current_user.isGenericUser%>
		<%= link_to '| Master Calendar |','/calendar',method: :index %> <%= link_to '| News Queue |','/news',method: :index %> <%= link_to '| Faculty Index |','/faculty',method: :index %> <%= link_to '| Blog |','/blog'%>
	<%end%>

	<%if current_user.isSuperUser or current_user.godBit or current_user.isTechUser or current_user.isSupervisorUser%>
		<%= link_to '| Equipment |','/equipment/', method: :get %> <%= link_to '| Locations |', '/locations/', method: :get %> <%= link_to '| Computer Programs |','/computer_programs/', method: :get %> <%= link_to '| Trouble Tickets |','/trouble_tickets/', method: :get %> <%= link_to '| Lab Tickets |','/lab_tickets/', method: :get %> 
	<%end%>

<%end%>

<p>
<% unless current_user.blank? %>Welcome, <%=current_user.firstName%>. <%= link_to 'Logout', '/logout', method: :delete -%>
</p>
<% end -%>  

</td>
</tr>
</table>

</body>

</html>

<%= yield %>